<%= semantic_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table style="width:700px;text-align:center">
    <tr>
      <td>
        <div><b><%= f.label :username %></b><br />
        <%= f.text_field :login, :autofocus => true %></div>
      </td>
      <td>
        <div><b><%= f.label :email %></b><br />
        <%= f.email_field :email %></div>
      </td>
    </tr>
    <tr>
      <td>
        <div><b><%= f.label :nombre %></b><br />
        <%= f.text_field :name %></div>
      </td>
      <td>
        <div><b><%= f.label :apellido %></b><br />
        <%= f.text_field :lastname %></div>
      </td>
    </tr>
    <tr>
      <td>
        <div><b><%= f.label :score %></b><br />
        <%= f.text_field :score %></div>
      </td>
    </tr>
  </table>
  
  <div class="actions", style="text-align: center;margin-top:20px;margin-right:250px">
    <%= f.submit "Actualizar Usuario"%>
  </div>  

<% end %>

