<div class="sign">
  <div class="title" style="margin-left:0">
    Sign in
  </div>

  <div style="margin-top:20px;margin-left:20px">
    <%= form_for :user do |f| %>

      <div>&nbsp&nbsp<%= f.label :login %><br />
      <%= f.text_field :login, :autofocus => true %></div>
      <br>
      <div>&nbsp&nbsp<%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :recuérdame %></div>
      <% end -%>
      <br>
      <div style="text-align:right"><%= f.submit "Entrar" %></div>
    <% end %>
    <div style="text-align:right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>