<div id="todas">
  <div class="title">Mis Preguntas</div>
  <%= link_to 'Nueva Pregunta', new_question_path, :class => 'boton', :style => "float:right;margin-top:15px;margin-right:50px"%>


    <table class="list_questions">
      <% if !@my_questions.blank? %>
        <% @my_questions.sort {|a,b| b.created_at <=> a.created_at }.each do |question| %>
        <tr>
            <td id="titulo">
              <%= link_to question.title, question, :title => question.title %>
            </td>
            <td>
              <%= question.created_at.day %>/<%= question.created_at.month %>/<%= question.created_at.year %>
              &nbsp  &nbsp
              <%= question.created_at.strftime("%I:%M%p") %>
            </td>
            <td id="last_row">
              <%= link_to 'X', question, method: :delete, data: { confirm: 'Are you sure?' }, :style=> 'color:red' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
          No has hecho ninguna pregunta.
          </td>
        </tr>
      <% end %>
    </table>
</div>