<style>
  table {
    margin:20px auto; 
    border-collapse:collapse;
  }

  table, td, th {
    border:1px solid black;
  }

  th { 
    padding:5px;
    background-color:#2066ce;
    color:white;
  }

  .boton {
    border:1px solid black;
    text-align:center;
    background-color: #2066ce;
    padding:3px;
    color:white;
  }

  .fl {
    float:left;
  }

</style>

<script>
   function show(target){
        document.getElementById(target).style.display = 'block';
    }

    function hide(target){
        document.getElementById(target).style.display = 'none';
    }

    function mispreguntas() {
      $('a[data-confirm], a[data-method], a[data-remote]').live('click.rails', function(e) {
        var link = $(this);
        if (!allowAction(link)) return false;

        if (link.attr('data-remote')) {
          handleRemote(link);
          return false;
        } else if (link.attr('data-method')) {
          handleMethod(link);
          return false;
        }   
      });
    }
</script>




<%= link_to 'Nueva Pregunta', new_question_path, :class => 'boton', :style => 'margin-left:605px' %>

<div id="todas">
<% if user_signed_in? %>
  <button type="button" class="boton" onclick="show('actual');hide('todas')">Mis Preguntas</button>
<% end %>
<h1 style="text-align:center">Listado de Preguntas</h1>

  <table style="min-width:646px">
    <tr>
      <th>Título</th>
      <th>Mostrar</th>
      <th>Eliminar</th>
    </tr>

    <% @questions.each do |question| %>
    <tr>
        <td style="text-align:center;width:70%;max-width: 50px;padding:2px"><%= question.title %></td>
        <td style="text-align:center"><%= link_to 'Show', question %></td>
        <td style="text-align:center"><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>

<div id="actual" style="display:none">
<% if user_signed_in? %>
  <button type="button" class="boton" onclick="show('todas');hide('actual')">Todas las Preguntas</button>
  <h1 style="text-align:center">Mis Preguntas</h1>

    <table style="min-width:646px">
        <% preguntas = Question.where(:user_id => current_user.id) %>
        <% if  !preguntas.blank? %>
            <tr>
              <th>Título</th>
              <th>Mostrar</th>
              <th>Eliminar</th>
            </tr>
          <% preguntas.each do |question| %>
            <tr>
              <td style="text-align:center;width:70%;max-width: 50px;padding:2px"><%= question.title %></td>
              <td style="text-align:center"><%= link_to 'Show', question %></td>
              <td style="text-align:center"><%= link_to 'Destroy', question, method: :delete,  data: { confirm: 'Are you sure?', :remote => :true} %></td>
            </tr>
          <% end %>
        <% else %>
          NO TIENES PREGUNTAS
        <% end %>
    </table>
  <% end %>
</div>
