<script>
   function show(target){
        document.getElementById(target).style.display = 'block';
    }

    function hide(target){
        document.getElementById(target).style.display = 'none';
    }

    function mispreguntas() {
      $('a[data-confirm], a[data-method], a[data-remote]').live('click.rails', function(e) {
        var link = $(this);
        if (!allowAction(link)) return false;

        if (link.attr('data-remote')) {
          handleRemote(link);
          return false;
        } else if (link.attr('data-method')) {
          handleMethod(link);
          return false;
        }   
      });
    }
</script>

<div id="todas">
  <div class="title">Listado de Preguntas</div>
  <% if user_signed_in? %>
    <%= link_to 'Nueva Pregunta', new_question_path, :class => 'boton', :style => "float:right;margin-top:15px;margin-right:50px"%>
    <button type="button" class="boton" onclick="show('actual');hide('todas')">Mis Preguntas</button>
  <% end %>

  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <div style="float:right;margin-right:50px;margin-top:10px;margin-bottom: 20px;">    
      <%= text_field_tag :search, params[:search], :placeholder => "Buscar", :size => 30 %>
      <%= submit_tag "Buscar", :name => nil %>
    </div>

    <table class="list_questions">

      <% @questions.sort {|a,b| b.created_at <=> a.created_at }.each do |question| %>
      <tr>
          <td id="titulo">
            <%= link_to question.title, question, :title => question.title %>
          </td>
          
          <td>
            <%= question.created_at.day %>/<%= question.created_at.month %>/<%= question.created_at.year %>
            &nbsp  &nbsp
            <%= question.created_at.strftime("%I:%M%p") %>
          </td>
          
          <% if current_user && current_user.role == "admin" %>  
            <td id="last_row">
              <%= link_to 'X', question, method: :delete, data: { confirm: 'Are you sure?' }, :style=> 'color:red' %>
            </td>
            <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div id="actual" style="display:none">
  <% if user_signed_in? %>
    <div class="title">Mis Preguntas</div>
    <%= link_to 'Nueva Pregunta', new_question_path, :class => 'boton', :style => "float:right;margin-top:15px;margin-right:50px"%>
    <button type="button" class="boton" onclick="show('todas');hide('actual')">Todas las Preguntas</button>

  <%= form_tag questions_path, :method => 'get', :id => "questions_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    
    <table class="list_questions">
        <% preguntas = Question.where(:user_id => current_user.id) %>
        <% if  !preguntas.blank? %>
          <% preguntas.sort {|a,b| b.created_at <=> a.created_at }.each do |question| %>
            <tr>
              <td id="titulo">
                <%= link_to question.title, question, :title => question.title %>
              </td>

              <td>
                <%= question.created_at.day %>/<%= question.created_at.month %>/<%= question.created_at.year %>
                &nbsp  &nbsp
                <%= question.created_at.strftime("%I:%M%p") %>
              </td>
              
              <% if current_user && current_user.role == "admin" %>
                <td>
                  <%= link_to 'X', question, method: :delete, data: { confirm: 'Are you sure?' }, :style=> 'color:red' %>
                </td>
              <% end %>

            </tr>
          <% end %>

        <% else %>

          <center>NO TIENES PREGUNTAS</center>

        <% end %>
    </table>
  <% end %>
<%end%>
</div>
