<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript"> 
      $(document).ready( function() {
        $('#deletesuccess').delay(5000).fadeOut();
      });
    </script>

    <title>D-Answer</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div id="head_title">
      <div style="font-size:xx-large;font-style:italic;font-weight:bold;float:left;margin-left:140px">
        D-Answer
      </div>
      <% if user_signed_in? %> 

        <div style="float:right;width:390px">
          <div style="padding-top:10px;float:left">
            Bienvenido, <%= current_user.login %>
          </div>
          <div style="margin-left:10px;margin-right:120px;margin-top:10px;float:right">
            <%= link_to "Perfil", current_user, :class => 'boton' %>
            <%= link_to 'Salir', destroy_user_session_path, :method => :delete, :class => 'boton'%>
          </div>
        </div>

      <% else %>
        <div style="padding-top:10px;float:right;width:575px">
          <div style="float:left">
            <%= link_to "Sign in", new_session_path(:user), :class => 'boton' %><br />
          </div>
          <div style="margin-right:120px;float:right"> No estás registrado? Regístrate y comienza a preguntar!
            <%= link_to "Sign up", new_registration_path(:user), :class => 'boton' %><br />
          </div>
        </div>  
      <% end %>
    </div>
    <ul id="head_menu">
      <% if not user_signed_in? %>
        <%= link_to content_tag(:li, 'Preguntas', :class => "nav"), questions_path %>
	      <%= link_to content_tag(:li, 'Tags', :class => "nav", :id => "last"), tags_path %>
      <% else %>
        <%= link_to content_tag(:li, 'Preguntas', :class => "nav"), questions_path %>
        <%= link_to content_tag(:li, 'Tags', :class => "nav"), tags_path %>
        <% if current_user.role == "admin" %>
          <%= link_to content_tag(:li, 'Mis Preguntas', :class => "nav"), questions_path %>
          <%= link_to content_tag(:li, 'Listar Usuarios', :class => "nav", :id => "last"), users_path %>
        <% else %>
          <%= link_to content_tag(:li, 'Mis Preguntas', :class => "nav", :id => "last"), my_questions_index_path %>
	  
        <% end %>
    <% end %>
    </ul>
  </header>
  <body>
    <div id="wrapper">  
      <div id="deletesuccess" style="text-align:center;color:white;">
        <p class="notice" style="background:rgba(68,217,74,0.6);"><%= notice %></p>
        <p class="alert" style="background:rgba(233,126,23,0.4);"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
